{% extends "base.html" %}

{% block content %}
{% if ords %}
<table border="1" width="900" style="border-collapse:collapse;">
    <tr>
        <th>id</th>
        <th>N</th>
        <th>Заказ N</th>
        <th>стоимость,$</th>
        <th>срок поставки</th>
        <th>стоимость,Р</th>
    </tr>
    {% for o in ords %}
    <tr>
        <td>{{ o.id }}</td>
        <td>{{o.num}}</td>
        <td>{{o.num_ord}}</td>
        <td>{{o.cost_s}}</td>
        <td>{{o.date}}</td>
        <td>{{o.cost_r}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
else ords
{% endif %}
{% endblock %}
